/*Hero Background color - #C2D3CD */
@font-face {
  font-family: 'Western';
  src: url('./../assets/Western Bang Bang.otf');
}

hr {
  border-color: #1D1E18;
}

.hero {
  position: relative;

  color: #E6E8E6;
  background-color: #248232;
  border-bottom: 2px solid #27462C;
  

}

h1{
  font-family: 'Western';
  font-size: 5.5rem !important;  
  color: #27462C;
  
}

.hero-title {
  font-size: 9rem !important;  
  font-family: 'Western';
}

.hero::after {
  content: "";
  opacity: 0.5;
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 3;
}

.how-to-play {

}

.command-col {
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
}

.command-item {
  display: flex;
  flex-direction: column;

  border: 2px solid #1D1E18;
  background-color: white;
  border-radius: 5px;
  margin:5px;
  width: 400px;
  justify-content: space-between;
  padding: 5px;

}


.command-container {
  margin-top: 10px;
  padding-top: 10px;
  background-color: #fafafa;
  padding-bottom: 15px;
background-color: rgba(0, 0, 0, 0.1);

}

.command-text {
  font-size: 1.5rem;

  /* /* vertical-align: bottom;
  display: flex; */

  align-items: flex-end; 


  
}

.screenshot-container {
  margin: 5px 0px 20px 0px;
}


footer {
  display: flex;
  padding-top: 1em;
padding-bottom: 1em;
color: #fafafa;
font-size: 1em;
background-color: #248232;
}

footer a {
  font-weight: bold;
  color: #27462C;
  
}

footer a:hover {
  font-weight: bold;
  color: #fff;
  
}

.footer-logo {
  width:30px;
  height: 30px;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
}

code {
  color:#1D1E18;
  font-weight: 300;
border-radius: 4px;
background-color: #FFF;
border: 1px solid rgba(0, 0, 0, 0.2);
display: inline-block;
font-size: 15px;
margin-right: 5px;
padding: .05em .1em .1em;
transition: .4s ease-in-out;

}


code:hover {
  transition: .4s ease-in-out;
  color: #248232;
}

